<footer class="footer">
  <ul>
    <li>
      <%= mail_to("vanessaesanto@gmail.com", class: "social-link") do %>
        <i class="fa fa-envelope"></i>
      <% end %>
    </li>
    <li>
      <%= link_to("https://www.linkedin.com/in/holyvanessa", target: "_blank", class: "social-link") do %>
        <i class="fa fa-linkedin"></i>
      <% end %>
    </li>
    <li>
      <%= link_to("https://github.com/twikah", target: "_blank", class: "social-link") do %>
        <i class="fa fa-github"></i>
      <% end %>
    </li>
    <li>
      <%= link_to("https://twitter.com/define_vanessa", target: "_blank", class: "social-link") do %>
        <i class="fa fa-twitter"></i>
      <% end %>
    </li>
    <li>
      <%= link_to("https://www.facebook.com/vanessaesanto/", target: "_blank", class: "social-link") do %>
        <i class="fa fa-facebook"></i>
      <% end %>
    </li>
  </ul>

  <h3>
    Crafted with <i class="fa fa-heart" aria-hidden="true"></i>
    by <a href="http://twikah.rocks/" target="_blank">twikah</a>
  </h3>
</footer>
