<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Alice|Open+Sans|Raleway:100" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9351bfa4c2.js"></script>

    <%= csrf_meta_tags %>

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= favicon_link_tag asset_path('apple-touch-icon.png'), :rel => 'apple-touch-icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <div class="content-container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
